DirectoryIndex index.php index.html

<VirtualHost *:80>

  # Use the first hostname as the canonical server name and then add all 
  # server names as aliases.
  ServerName {{ hostnames[0] }}
  {% for hostname in hostnames %}
  ServerAlias {{ hostname }}
  {% endfor %}

  DocumentRoot "/var/www/drupal/web"
  
  <Directory "/var/www/drupal/web">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
  </Directory>

  # PHP FPM handles all PHP requests.
  <FilesMatch \.php$>
    SetHandler "proxy:fcgi://phpfpm:9000"
  </FilesMatch>
</VirtualHost>
